<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_upscar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_upscar"
        android:supportsRtl="true"
        android:theme="@style/Theme.Upscar"
        tools:targetApi="31">
        <activity
            android:name=".view.AdicionarAutomoveis"
            android:exported="false" />
        <activity
            android:name=".view.ListaAutomoveis"
            android:exported="false" />
        <activity
            android:name=".view.Info_Automoveis"
            android:exported="false" />
        <activity
            android:name=".view.EditarUsuario"
            android:exported="false" />
        <activity
            android:name=".view.MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".view.Cadastro"
            android:exported="false" />
        <activity
            android:name=".view.Login"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
    </application>

</manifest>